@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Nunito+Sans:wght@600&display=swap");
@import "./vars.scss";
@import "../../node_modules/bulma/bulma.sass";

html {
  font-size: 1rem;
}

.select {
  select {
    border-width: 2px;
    border-radius: 0;
    height: 3rem;

    option {
      font-size: 1.125rem;
      margin: 0.5rem 0.25rem;
    }
  }
}

.tabs {
  font-family: $family-secondary;
  font-weight: 600;

  li.is-active a {
    box-shadow: inset 0px -2px 0px $primary;
  }
}

.button {
  font-family: $family-secondary;
  font-weight: 600;
}
