@import "../../../node_modules/bulma/sass/utilities/_all.sass";

.hero {
  height: min-content;
  margin-top: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: margin-top 200ms, filter 200ms;
  border-radius: 0.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0px 0 1px rgb(10 10 10 / 2%);

  @include tablet {
    margin-top: 12rem;
  }

  background-color: #f0f0f0;

  .hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .button {
      width: min-content;
      margin-top: 2rem;
    }
  }
}

@mixin result-content {
  font-size: 1.125rem;
  line-height: 1.3;
  padding-bottom: 0.125rem;

  span {
    font-family: $family-secondary;
    padding: 0em 0.5em;
    font-weight: 900;
    color: #fff;
    background-color: #f03250;
    border-radius: 2px;
  }
}

.card.discrimination-results {
  max-width: 30rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 600;
    padding-bottom: 0.25rem;
  }

  .content {
    @include result-content;
  }
}

.card.wages-results {
  max-width: 30rem;
  text-align: center;

  h2 {
    font-size: 1.375rem;
    font-weight: 600;
    padding-bottom: 0.25rem;
  }

  .content.your-wage {
    font-size: 1.375rem;
    font-weight: 300;
    padding-top: 0.5rem;

    span {
      font-size: 2rem;
      color: #f03250;
      font-weight: 900;
      vertical-align: middle;
    }
  }

  .result-error {
    color: #666666;
    font-style: italic;
  }

  .content:not(.your-wage) {
    @include result-content;
  }
}
